.section1 {
    background-color: #1F2937;
    padding-left:120px;
    padding-right:120px;
    padding-top: 20px;
  
}

.headimage {
    height: auto;
    width: 80px;
}

.drifting {
    height: auto;
    width: 500px
}

.header {
    display:flex;
    justify-content: space-between;
    align-items:start;

    font-size: 18px;
    font-family: Helvetica, Arial, Times;

    margin-bottom: 60px;
}

body {
    margin: 0;
}

a:link {
    text-decoration: none;
}

a {
    color: #E5E7EB;
    padding: 5px;
    border-radius: 5%;
}

a:hover {
    background-color: #E5E7EB;
    color: #1F2937;
}

.text {

    font-size: 18px;
    font-family: Helvetica, Arial, Times;
    color: #E5E7EB;
    margin-top:5px;
}


.container-one {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding-bottom: 100px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom:0;
}

.logo {
    display:flex;
    align-content: center;
    font-size: 20px;
    font-style:italic;
    color: #F9FAF8;
    font-family: Helvetica, Arial, Times;
    font-weight: bolder;
}

.signup {
    background-color: #3882F6;
    border:0px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right:20px;
    padding-top:8px;
    padding-bottom:8px;
    font-family: Helvetica, Arial, Times;
    color: #F9FAF8;
    font-weight: 800;

}

.box-image {
    width:150px;
    height: 150px;
    object-fit:cover;
    border: 5px solid #3882F6;
    border-radius: 10px;

}

.second-title {
    font-size: 36px;
    font-weight: 800;
    
    color:#1F2937;
    margin:40px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}



.container-two {
    display: flex;
    justify-content:center;
    gap: 60px;
    padding-left:120px;
    padding-right:120px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.pretty-box {
    width:150px;
    text-align: center;
    font-family: Helvetica, Arial, Times;
    color: #1F2937;
    font-size: 18px;
}

.section3 {
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
}

.quote {
    font-style:italic;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

.author {
    text-align: end;
}

.section4{
    padding: 100px;
}

.blue {
    background-color: #3882F6;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 70px;
    padding-left: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.signup2 {
    border: 3px solid white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right:20px;
    padding-top:8px;
    padding-bottom:8px;
    font-family: Helvetica, Arial, Times;
    font-weight: 800;
    background-color: #3882F6;
    color: white;
    height: 40px;


}

.hero.callaction {
    font-size: 24px;
    margin-bottom: 0;
}

.hero.signup3 {
    font-size:14px;
    margin-top:0;
    margin-bottom:24px;
    color: #E5E7EB
}

.copyright {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
    font-family: Helvetica, Arial, Times;

    
}



